*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: #15192F;
    color: #fff;
    padding: 30px 0;
}
.heading{
    padding: 30px 0;
}
.heading-text{
    padding: 0 40%;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5%;

}
.heading-text span{
    color: #44ADE9;
   
    
}
.home-page-contecter{
    padding: 0 90%;

}
nav ul li a{
    color: #fff;
    font-size: 15px;
}
.contact-right form{
    width: 100%;
    padding: 30px 15%;

}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #5F6C73;
    padding: 30px 0;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}